{% url 'today-tasks' as 2d %}
{% url 'last-3-days-tasks' as l3d %}
{% url 'overdue-tasks' as od %}
{% url 'tasks' as at %}

<div>
    <p class="max-w-lg text-3xl font-semibold leading-loose">Tasks</p>
</div>
<hr class="w-80 h-1 mx-auto my-2 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-900">
{% if request.path == 2d %}

{% for task2d in today %}
    <div id="task-container">
        <div id="task-item" class="flex justify-between w-80 shadow-lg rounded-lg my-1 bg-gray-800" style="border: 0.5px solid #3e3f42; ">
            <div class="flex">
                <div id="shevron" class="pr-1 focus:rotate-90 transition-transform">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-lime-200 -rotate-90 w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>
                </div>
                <a id="item-link" href="{% url 'detail' task2d.id %}{{ all }}">{{ task2d }}</a>
            </div>

            <a href="{% url 'task-delete' task2d.id %}{{ all }}" class="bg-gray-800 rounded-r-md hover:bg-lime-200">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="stroke-lime-200 w-6 h-6 hover:stroke-gray-800">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>      
            </a>    
        </div> 

        <ul id="steps-container" class="hidden marker:text-lime-200 list-disc pl-4 space-y-3 text-slate-400">
            {% for step in steps %}
                {% if task2d.id == step.task_id  %}
                <div id="steps-list" class="flex">
                    <li class="">{{ step }}</li>
                </div>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endfor %}

{% elif request.path == l3d %}

{% for three_task in last_3_days %}
<div id="task-container">
    <div id="task-item" class="flex justify-between w-80 shadow-lg rounded-lg my-1 bg-gray-800" style="border: 0.5px solid #3e3f42; ">
        <div class="flex">
            <div id="shevron" class="pr-1 focus:rotate-90 transition-transform">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-lime-200 -rotate-90 w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                </svg>
            </div>
            <a id="item-link" href="{% url 'detail' three_task.id %}{{ all }}">{{ three_task }}</a>
        </div>

        <a href="{% url 'task-delete' three_task.id %}{{ all }}" class="bg-gray-800 rounded-r-md hover:bg-lime-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="stroke-lime-200 w-6 h-6 hover:stroke-gray-800">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>      
        </a>    
    </div> 

    <ul id="steps-container" class="hidden marker:text-lime-200 list-disc pl-4 space-y-3 text-slate-400">
        {% for step in steps %}
            {% if three_task.id == step.task_id  %}
            <div id="steps-list" class="flex">
                <li class="">{{ step }}</li>
            </div>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endfor %}


{% elif request.path == od %}

{% for overdue_task in overdue %}    
<div id="task-container">
    <div id="task-item" class="flex justify-between w-80 shadow-lg rounded-lg my-1 bg-gray-800" style="border: 0.5px solid #3e3f42; ">
        <div class="flex">
            <div id="shevron" class="pr-1 focus:rotate-90 transition-transform">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-lime-200 -rotate-90 w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                </svg>
            </div>
            <a id="item-link" href="{% url 'detail' overdue_task.id %}{{ all }}">{{ overdue_task }}</a>
        </div>

        <a href="{% url 'task-delete' overdue_task.id %}{{ all }}" class="bg-gray-800 rounded-r-md hover:bg-lime-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="stroke-lime-200 w-6 h-6 hover:stroke-gray-800">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>      
        </a>    
    </div> 

    <ul id="steps-container" class="hidden marker:text-lime-200 list-disc pl-4 space-y-3 text-slate-400">
        {% for step in steps %}
            {% if overdue_task.id == step.task_id  %}
            <div id="steps-list" class="flex">
                <li class="">{{ step }}</li>
            </div>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endfor %}

{% elif request.path == at %}

{% for task in all_tasks %}
<div id="task-container">
    <div id="task-item" class="flex justify-between w-80 shadow-lg rounded-lg my-1 bg-gray-800" style="border: 0.5px solid #3e3f42; ">
        <div class="flex">
            <div id="shevron" class="pr-1 focus:rotate-90 transition-transform">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-lime-200 -rotate-90 w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                </svg>
            </div>
            <a id="item-link" href="{% url 'detail' task.id %}{{ all }}">{{ task }}</a>
        </div>

        <a href="{% url 'task-delete' task.id %}{{ all }}" class="bg-gray-800 rounded-r-md hover:bg-lime-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="stroke-lime-200 w-6 h-6 hover:stroke-gray-800">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>      
        </a>    
    </div> 

    <ul id="steps-container" class="hidden marker:text-lime-200 list-disc pl-4 space-y-3 text-slate-400">
        {% for step in steps %}
            {% if task.id == step.task_id  %}
            <div id="steps-list" class="flex">
                <li class="">{{ step }}</li>
            </div>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endfor %}  
{% endif %}
<hr class="w-80 h-1 mx-auto my-2 bg-gray-100 border-0 rounded dark:bg-gray-900">

<script>
    elements = $('.flex').find('#shevron');
    elements.each(function() {
        $(this).on('click', slide)
    });

    function slide() {  
        elements.each(element => {
            container = $(this).closest('#task-container')
            container.find('#steps-container').slideToggle()
            return false
    });
    }
</script>
